{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Categories</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main:Notes' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Categories</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <form action="{% url 'main:Categories' %}" method="GET" class="form-inline my-2 my-lg-1">
                            <input class="form-control mr-sm-2" name="search_text" type="search" placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <div class="form-inline my-2 my-lg-1">
                            <a class="btn btn-success" href="{% url 'main:New_Category' %}">New Category</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">

                            {% if not object_list %}
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="pb-3 pt-4">
                                                <h2>No Categories Found</h2>
                                                <p><small>Add a Category by Clicking the Button "New Category"</small></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            {% else %} 
                                <thead>
                                    <tr>
                                        <th class="font-weight-bold" width="60%">Name</th>
                                        <th width="25%" class="font-weight-bold text-center">Notes</th>
                                        <th width="15%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in object_list %}
                                        <tr>
                                            <td style="vertical-align: middle;">{{ category.categories.name }}</td>
                                            <td style="vertical-align: middle;" class="text-center">{% if category.notes_count == 0 %} None {% else %} {{ category.notes_count }} {% endif %} </td>
                                            <td style="vertical-align: middle;"><a class="btn btn-info text-white" href="{% url 'main:View_Category' id=category.categories.id %}">View</a></td>
                                        </tr>
                                    {% endfor %}    
                                </tbody>
                            {% endif %}

                        </table>
                    </div>
                    <div class="card-footer">
                        <ul class="pagination mb-0">
                            {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                            {% endif %}
                            
                            {% if page_obj.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}
                            
                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            
                            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}
                            
                            {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}