<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>

    {% load static %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/assets/images/favicon.png' %}">
    <title>noteapy</title>
    <!-- Custom CSS -->
    <link href="{% static 'main/assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'main/dist/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/assets/libs/toastr/build/toastr.min.css' %}" rel="stylesheet">

    
    <!-- Extra CSS for Form Elements Page -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/libs/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/libs/jquery-minicolors/jquery.minicolors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/libs/quill/dist/quill.snow.css' %}">
    <!-- Extra CSS for Form Elements Page -->


    <!-- Extra CSS for Table Elements Page -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/assets/extra-libs/multicheck/multicheck.css' %}">
    <link href="{% static 'main/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'main/dist/css/style.min.css' %}" rel="stylesheet">
    <!-- Extra CSS for Table Elements Page -->

    
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <script src="{% static 'main/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- ============================================================== -->

    
    <!-- Toaster Notifications JS -->
    <script src=" {% static 'main/assets/libs/toastr/build/toastr.min.js' %}"></script>
    <!-- Toaster Notifications JS -->

</head> 

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        
        {% include 'main/top_navbar.html' %}
        {% include 'main/left_navbar.html' %}

        {% block content %}
        {% endblock content %}

    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'main/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'main/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'main/dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'main/dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'main/dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'main/assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static 'main/assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'main/assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'main/assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static 'main/assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'main/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'main/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'main/dist/js/pages/chart/chart-page-init.js' %}"></script>


    <!-- Extra JS for Form Elements Page -->
    <script src="{% static 'main/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'main/dist/js/pages/mask/mask.init.js' %}"></script>
    <script src="{% static 'main/assets/libs/select2/dist/js/select2.full.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/jquery-asColor/dist/jquery-asColor.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/jquery-asGradient/dist/jquery-asGradient.js' %}"></script>
    <script src="{% static 'main/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/jquery-minicolors/jquery.minicolors.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'main/assets/libs/quill/dist/quill.min.js' %}"></script>
    <script>
        //***********************************//
        // For select 2
        //***********************************//
        $(".select2").select2();

        /*colorpicker*/
        $('.demo').each(function() {
        //
        // Dear reader, it's actually very easy to initialize MiniColors. For example:
        //
        //  $(selector).minicolors();
        //
        // The way I've done it below is just for the demo, so don't get confused
        // by it. Also, data- attributes aren't supported at this time...they're
        // only used for this demo.
        //
        $(this).minicolors({
                control: $(this).attr('data-control') || 'hue',
                position: $(this).attr('data-position') || 'bottom left',

                change: function(value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        console.log(value);
                    }
                },
                theme: 'bootstrap'
            });

        });
        /*datwpicker*/
        jQuery('.mydatepicker').datepicker();
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        var quill = new Quill('#editor', {
            theme: 'snow'
        });

    </script>
    <!-- Extra JS for Form Elements Page -->


    <!-- Extra JS for Table Elements Page -->
    <script src="{% static 'main/assets/extra-libs/multicheck/datatable-checkbox-init.js' %}"></script>
    <script src="{% static 'main/assets/extra-libs/multicheck/jquery.multicheck.js' %}"></script>
    <script src="{% static 'main/assets/extra-libs/DataTables/datatables.min.js' %}"></script>
    <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>
    <!-- Extra JS for Table Elements Page -->


    <!-- Custom JS -->
    <script src="{% static 'main/custom/custom.js' %}"></script>
    <!-- Custom JS -->

</body>

</html>