{% load static %}

<aside class="left-sidebar" data-sidebarbg="skin5">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'main:Notes' %}" aria-expanded="false"><i class="material-icons">assignment</i><span class="hide-menu">My Notes</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'main:Categories' %}" aria-expanded="false"><i class="material-icons">source</i><span class="hide-menu">Categories</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'main:Search' %}" aria-expanded="false"><i class="material-icons">search</i><span class="hide-menu">Search Notes</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'main:Favorites' %}" aria-expanded="false"><i class="material-icons">star_rate</i><span class="hide-menu">Liked Notes</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'main:Account' %}" aria-expanded="false"><i class="material-icons">account_circle</i><span class="hide-menu">My Profile</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'main:Logout' %}" aria-expanded="false"><i class="material-icons">power_settings_new</i><span class="hide-menu">Log Out</span></a></li>
            </ul>
        </nav>
    </div>
</aside>
