{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">My Notes</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main:Notes' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Notes</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body d-flex justify-content-between">

                        <!--  -->
                        <select class="select2 form-control custom-select" style="width: 45%; height:36px;">
                            <optgroup label="Filter">
                                <option value="AK">Alaska</option>
                                <option value="HI">Hawaii</option>
                            </optgroup>                        
                        </select>
                        <!--  -->

                        <div class="pt-1">
                            <a class="btn btn-success btn" href="{% url 'main:New_Note' %}">New Note</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% for category in object_list %}
            {% if category.notes %}
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ category.name }}</h5>
                            </div>
                            <div class="comment-widgets scrollable">
                                {% for note in category.notes %}
                                    <div class="d-flex flex-row comment-row m-t-0">
                                        <div class="comment-text w-100">
                                            <h6 class="font-medium font-weight-bold">{{ note.title }}</h6>
                                            <span class="m-b-15 d-block">{{ note.content }}</span>
                                            <div class="comment-footer">
                                                <span class="text-muted float-right pr-2"><i class="far fa-star pr-1"></i>69</span> 
                                                <button type="button" class="btn btn-cyan btn">Edit</button>
                                                <button type="button" class="btn btn-danger btn">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>                
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

</div>

{% endblock %}