{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="page-wrapper">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Search Notes</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'main:Notes' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Search Notes</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body justify-content-between">
                        <form action="{% url 'main:Search' %}" method="GET" class="form-inline my-2 my-lg-1">
                            <input class="form-control mr-sm-2 flex-grow-1" name="search_text" type="search" placeholder="Search Box">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if not object_list %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body pb-1">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="pb-2 pt-4">
                                                {% if search_text %}
                                                    <h2>No Results Found</h2>
                                                    <p><small>Try Again Later</small></p>
                                                {% elif not search_text %}
                                                    <h2>Browse Other's Notes</h2>
                                                    <p><small>Enter Want You Want to Search in the "Search Box"</small></p>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
            </div>
        {% endif %}


        {% if search_text and object_list %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Results</h5>
                                <ul class="pagination mb-0">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?search_text={{ search_text }}&page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                                    {% endif %}
                                    
                                    {% if page_obj.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link" href="?search_text={{ search_text }}&page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                                    {% endif %}
                                    
                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" href="?search_text={{ search_text }}&page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                                        <li class="page-item"><a class="page-link" href="?search_text={{ search_text }}&page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                                    {% endif %}
                                    
                                    {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link" href="?search_text={{ search_text }}&page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                        <div class="comment-widgets scrollable">
                            {% for note in object_list %}
                                <div class="d-flex flex-row comment-row m-t-0">
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium font-weight-bold">{{ note.title }}</h6>
                                        <span id="{{ note.id }}" class="m-b-15 d-block">{{ note.content }}</span>
                                        <div class="comment-footer">
                                            <span id="{{ note.id }}_favorites" class="text-muted float-right pr-2"><i class="far fa-star pr-1"></i>{{ note.num_of_favorites }}</span> 

                                            {% if note.is_favorite %}
                                                <button id="{{ note.id }}_fav_button" class="btn btn-danger" onclick="remove_favorite('{{ note.id }}');">Dislike</button>
                                            {% else %}
                                                <button id="{{ note.id }}_fav_button" class="btn btn-success" onclick="make_my_favorite('{{ note.id }}');">Like</button>
                                            {% endif %}

                                            <button class="btn btn-primary" onclick="copy_to_clipboard('{{ note.id }}');">Copy</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>                
                </div>
            </div>
        {% endif %}

    </div>

</div>

{% endblock %}